@mixin respond-to($breakpoint){
    @if $breakpoint == xs{
        @media (max-width: 575.98px){ @content; }
    }@else if $breakpoint == sm {
        @media (max-width: 767.98px){ @content; }
    }@else if $breakpoint == md {
        @media (max-width: 991.98px){ @content; }
    }@else if $breakpoint == lg {
        @media (max-width: 1199.98px){ @content; }
    }@else if $breakpoint == xl {
        @media (max-width: 1399.98px){ @content; }
    }
    
}


.bemo-homepage {
    // General Styles

    // Hero Section
    .hero-section {
        .hero-title {
            color: #091F32;
            font-size: 40px;
            font-weight: 700;
            line-height: 60px;


            @include respond-to(md) {
                font-size: 32px;
                line-height: 48px;
            }

            @include respond-to(sm) {
                font-size: 28px;
                line-height: 42px;
            }
        }

        .hero-subtitle {
            color: #4D4D4D;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }

        .btn-primary {
            background: #007BFF;
            border-radius: 32px;
            font-size: 16px;
            font-weight: 700;
            color: white;
            padding: 12px 24px;

            @include respond-to(sm) {
                padding: 8px 16px;
            }
        }
    }

    // News Section
    .news-section {
        .news-header {
            display: flex;
            align-items: center;
            gap: 16px;
            color: #007BFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;

            img {
                width: 40px;
                height: 45px;
            }

            @include respond-to(md) {
                font-size: 20px;
            }

            @include respond-to(sm) {
                font-size: 18px;
            }
        }

        .news-card {
            width: 359px;
            border-radius: 8px;
            box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.08);

            @include respond-to(md) {
                width: 90%;
            }

            img {
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            .news-content {
                padding: 16px;

                &-date {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: #4D4D4D;
                    font-size: 14px;
                }

                &-title {
                    color: #4D4D4D;
                    font-size: 18px;
                    font-weight: 700;
                }

                @include respond-to(md) {
                    font-size: 16px;
                }

                &-description {
                    color: #808080;
                    font-size: 16px;

                    @include respond-to(sm) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // Company Intention Section
    .company-intention-section {
        background-image: url(/estate/static/src/img/company-intention-background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 652px;
        padding: 40px 0;

        @include respond-to(sm) {
            padding: 20px;
        }

        .company-intention-header {
            display: flex;
            align-items: center;
            gap: 16px;
            color: #007BFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;


            img {
                width: 40px;
                height: 45px;
            }


            
        }

        #main_img{
            position: relative;

            @include respond-to(md) {
                max-width: 80%;
            }
        }


        #widget-1,
        #widget-2 {
            @include respond-to(sm) {
                display: none;
            }
        }

        #widget-1{
            position: absolute;
            top: -15px;
            left: -70px;

        }

        #widget-2{
            position: absolute;
            bottom: 5px;
            left: 53px;
        }

        p {
            color: #4D4D4D;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;

            @include respond-to(md) {
                font-size: 14px;
            }
        }

        
    }


    // Company Gallery Section
    .company-gallery-section{
        padding-bottom: 110px;
        .company-gallery-header {
            color: #007BFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;
    
            img {
                margin-right: 8px;
            }


            @include respond-to(md) {
                font-size: 20px;
            }
        
            @include respond-to(sm) {
                font-size: 18px;
            }
        }
    
        .gallery-item {
            .video-container {
                position: relative;
                width: 100%;
                height: 270px;

                @include respond-to(md) {
                    height: 200px;
                    }
            
                @include respond-to(sm) {
                    height: 150px;
                }

                .video-placeholder {
                    background: #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    position: relative;

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            
            }
    
            .image-container {
                position: relative;
                overflow: hidden;
                height: 270px;


                @include respond-to(md) {
                    height: 200px;
                }
          
                @include respond-to(sm) {
                    height: 150px;
                    
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    @include respond-to(sm) {
                        object-fit: scale-down;
                        
                    }
                }
            }
        }
    }


    .snippet_feedback_section{
        padding: 40px 0;
        background-color: #F3F4F7;
        
        .container{
            display: flex;
            justify-content: center;
        }

        .feedback_image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2.75rem;

            @include respond-to(sm) {
                margin-right: 0;
            }
        }

        .feedback_content {
            width: 100%;
            height: 100%;


            .feedback_title{
                display: flex;
                align-items: center;
                margin-bottom: 2rem;

                img{
                    width: 40px;
                    height: 45px;
                }

                h1{
                    font-size: 2.25rem;
                    font-weight: 700;
                    color: var(--blue);
                    margin-left: 1rem;
                    margin-bottom: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;
                }
            }

            .feedback_input{
                width: 100%;
                height: 260px;
                padding: 1rem;
                resize: none;
                border: none;
                border-radius: 4px;
                outline: none;
                
                @include respond-to(sm) {
                    height: 150px;
                }
            }

            .btn-primary {
                background: #007BFF;
                border-radius: 32px;
                font-size: 16px;
                font-weight: 700;
                color: white;
                padding: 12px 24px;

                @include respond-to(sm) {
                    padding: 10px 20px;
                }
            }


        }



    }
    
    
}


.navbar{
    .navbar-nav{
        display: flex;
        padding-left: 48px;
        gap: 44px;

        @include respond-to(md) {
            gap: 32px;
        }
    
        @include respond-to(sm) {
            flex-direction: column;
            gap: 8px;
        }
    }
    
    .navbar-link{
        color: black;
        &:hover{
            color:rgba(0, 0, 0, 0.7)
        }
    }
    


    .signin-user-component{
        li{
            list-style: none;
    
            .dropdown-toggle{
                color: black;
               
                font-weight: 700;
    
                &:hover {
                    color: rgba(0, 0, 0, 0.8);
                }

                @include respond-to(sm) {
                    font-size: 14px;
                }
            } 
        }
    }
}
