.o_main_navbar {
    background: linear-gradient(90deg, #0c3255, #004a8d);
    color: #ffffff !important;
}

.o_main_navbar a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
   
}